# Dependencies
node_modules
.pnp
.pnp.js

# Testing
.coverage
.nyc_output

# Next.js
.next/
out/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
backend/venv/
backend/__pycache__/
backend/cache/
.env
.env.local

# System
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/
.idea/

