@import "tailwindcss";

:root {
  --background: rgb(245, 247, 250);
  --foreground: rgb(26, 34, 56);
  --card: rgb(227, 234, 242);
  --card-foreground: rgb(26, 34, 56);
  --popover: rgb(255, 251, 230);
  --popover-foreground: rgb(26, 34, 56);
  --primary: rgb(58, 91, 160);
  --primary-foreground: rgb(255, 251, 230);
  --secondary: rgb(247, 200, 115);
  --secondary-foreground: rgb(26, 34, 56);
  --muted: rgb(229, 229, 223);
  --muted-foreground: rgb(58, 91, 160);
  --accent: rgb(110, 163, 193);
  --accent-foreground: rgb(255, 251, 230);
  --destructive: rgb(45, 30, 47);
  --destructive-foreground: rgb(255, 251, 230);
  --border: rgb(176, 184, 193);
  --input: rgb(110, 163, 193);
  --ring: rgb(247, 200, 115);
  --chart-1: rgb(58, 91, 160);
  --chart-2: rgb(247, 200, 115);
  --chart-3: rgb(110, 163, 193);
  --chart-4: rgb(176, 184, 193);
  --chart-5: rgb(45, 30, 47);
  --sidebar: rgb(227, 234, 242);
  --sidebar-foreground: rgb(26, 34, 56);
  --sidebar-primary: rgb(58, 91, 160);
  --sidebar-primary-foreground: rgb(255, 251, 230);
  --sidebar-accent: rgb(247, 200, 115);
  --sidebar-accent-foreground: rgb(26, 34, 56);
  --sidebar-border: rgb(176, 184, 193);
  --sidebar-ring: rgb(247, 200, 115);
  --font-sans: "Libre Baskerville", serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: rgb(24, 26, 36);
  --foreground: rgb(230, 234, 243);
  --card: rgb(35, 36, 58);
  --card-foreground: rgb(230, 234, 243);
  --popover: rgb(35, 36, 58);
  --popover-foreground: rgb(255, 224, 102);
  --primary: rgb(58, 91, 160);
  --primary-foreground: rgb(255, 224, 102);
  --secondary: rgb(255, 224, 102);
  --secondary-foreground: rgb(35, 36, 58);
  --muted: rgb(29, 30, 47);
  --muted-foreground: rgb(122, 136, 161);
  --accent: rgb(188, 205, 240);
  --accent-foreground: rgb(24, 26, 36);
  --destructive: rgb(160, 74, 108);
  --destructive-foreground: rgb(255, 224, 102);
  --border: rgb(45, 46, 62);
  --input: rgb(58, 91, 160);
  --ring: rgb(255, 224, 102);
  --chart-1: rgb(58, 91, 160);
  --chart-2: rgb(255, 224, 102);
  --chart-3: rgb(110, 163, 193);
  --chart-4: rgb(122, 136, 161);
  --chart-5: rgb(160, 74, 108);
  --sidebar: rgb(35, 36, 58);
  --sidebar-foreground: rgb(230, 234, 243);
  --sidebar-primary: rgb(58, 91, 160);
  --sidebar-primary-foreground: rgb(255, 224, 102);
  --sidebar-accent: rgb(255, 224, 102);
  --sidebar-accent-foreground: rgb(35, 36, 58);
  --sidebar-border: rgb(45, 46, 62);
  --sidebar-ring: rgb(255, 224, 102);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
